doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title my title
        meta(name="author", content="author name")
        meta(name="keywords", content="my key word")
        meta(name="description", content="my description")
        meta(name="format-detection", content="email=no")
        meta(name="format-detection", content="telephone=no")
        meta(name="msapplication-tap-highlight", content="no")
        meta(name="viewport", content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no, minimal-ui")
        script(src="js/responsive.js")
        link(rel="stylesheet",href="css/libs/normalize.css")
        link(rel="stylesheet",href="css/index.css")
    body
        .wrapper
            article
                header
                    h1 Gulp Test
                footer
        script(src="js/libs/jquery-1.11.2.js")
        script(src="js/index.js")